
* {
  box-sizing: border-box;
}

.slide {
  display: flex;
  flex-direction: column;

  height: 100vh;
  /* width: 100vw; */
  /* font-family: Inconsolata; */
  font-family: "Open Sans", Arial;
  font-size: 18px;
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid white; */
}

@media screen {
  .slide { padding: 1px 0; }
}

@media print {
  .slide { padding: 0px }
  .controls { display: none; }
}
/*
blue: #27aae1
green: #63b66e
yellow: #f9ba2b
*/

.header .col1, .footer, .body {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
}

.header .col1, .header .col2, .footer {
  justify-content: center;
}


.header .col1 {
  flex-grow: 1;
}

.header .col2 {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 10px;
}

/*
.header .col2 {
  background-color: white;
  padding: 20px;
}
*/


.header .col2-inner {
  border: 1px solid #ccc;
  height: 100%;
  background-color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 15px #222;
}

.header .col2 img, .header .col2 .logo-text {
  padding: 6px 10px;
}

.header .col2-inner .logo-text {
  font-size: 26px;
  line-height: 26px;
  /* font-style: italic; */
  background-color: #f9ba2b88;
  border-bottom: 1px solid #ccc;
}

.header .col2-inner img {
}

.header .col1 {
  background-color: #27aae1;
  text-align: center;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  font-size: 1.5em;
  color: #333;
  opacity: 0.5;
}

.controls a {
  color: #333;
  text-decoration: none;
}

.controls i {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;

}

.diaporama-on .diaporama-toggle.fa-play { display: none; }
.diaporama-on .diaporama-toggle.fa-stop { display: block; }
.diaporama-off .diaporama-toggle.fa-play { display: block; }
.diaporama-off .diaporama-toggle.fa-stop { display: none; }


.footer {
  background-color: #27aae1;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.body {
  margin: 10px 10px;
  text-align: center;
  flex: 1;
}

/*
.body-inner {
  max-height: 100%;
  max-width: 100vw;
}
*/

.imgs {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* flex-shrink: 1; */
  /* flex-wrap: wrap; */
  max-height: 100%;
  /* justify-content: space-between; */
}

.imgs {
  max-width: 100vw;
  max-height: 100%;
  height: 100%;
  /* padding: 50px 0; */
}

.imgs-line2 {
  margin-top: 20px;
}

.imgs .img-wrapper {
  margin: 0 50px;
  width:100%;
  height:100%;
}


.imgs img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.name {
  font-size: 80px;
  font-weight: bold;
  color: white;
  background-color: #63b66e;
  padding: 10px 0;
}

.kind {
  font-family: Inconsolata;
  font-size: 30px;
  text-transform: uppercase;
}

.city {
  font-family: Inconsolata;
  font-size: 40px;
  padding: 10px 0;
  text-transform: capitalize;
}

.descr {
  font-size: 40px;
  margin-bottom: 50px;
}

